@import "../../main.css";

#root button {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
}

#root .btn-outline-neutral {
  color: var(--neutral-2);
  border-color: var(--neutral-2);
}

#root .btn-outline-neutral:hover {
  color: var(--primary-white);
  background-color: var(--neutral-2);
}

#root .btn-outline-green {
  color: var(--accessible-green);
  border-color: var(--accessible-green);
}

#root .btn-outline-green:hover {
  color: var(--primary-white);
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}
