@import "../../main.css";

table.base-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.base-table th, td {
  text-align: left;
  padding: 8px;
}

.base-table tr:nth-child(even) {
  background-color: var(--neutral-5);
}

.base-table thead {
  background-color: var(--neutral-4);
  color: var(--neutral-2);
  padding: 0.75rem 1rem;
}

.base-table tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.tag-table tr:nth-child(even) {
  background-color: transparent;
}

.tag-table__tag {
  text-transform: uppercase;
}

.tag-table__access {
  min-width: 45px;
}